{% import "utils.jinja" as utils -%}
{% import "model/utils.jinja" as m_utils -%}

#pragma once

{% include "model/header/includes.jinja" %}

{% include "model/header/forwards.jinja" %}

{{utils.open_namespace(props.namespace)}}

class {{props.name}} : public {{m_utils.parent(props)}} {
public:
    {% filter indent_all(4) %}
        {% include "model/header/aliases.jinja" %}
    {% endfilter %}

    const mvvm::PropertyList & Properties() const override;

    {% for prop in children %}
        {% filter indent_all(4) -%}
            // ------ {{prop.props.name}} ------
        {% endfilter %}

        {%- filter indent_all(4) %}
            {% include "model/header/getter.jinja" %}
            {% include "model/header/setter.jinja" %}
        {% endfilter %}

    {% endfor %}

    {%- filter indent_all(4) %}
        {% include "model/header/properties.jinja" %}
    {% endfilter %}

private:
    {% include "model/header/members.jinja" %}
};

{{utils.close_namespace(props.namespace)}}

