{% if prop.props.type == "string" %}
    const {{props.name}}::{{prop.props.name | PascalCase}}Type & {{props.name}}::Get{{prop.props.name | PascalCase}}() const {
        return Noesis::DependencyObject::GetValue<{{prop.props.name | PascalCase}}Type>({{prop.props.name | CONST_CASE}}_PROP);
    }
{% else %}
    {{props.name}}::{{prop.props.name | PascalCase}}Type {{props.name}}::Get{{prop.props.name | PascalCase}}() const {
        return Noesis::DependencyObject::GetValue<{{prop.props.name | PascalCase}}Type>({{prop.props.name | CONST_CASE}}_PROP);
    }
{% endif %}

