#include <NsGui/DependencyObject.h>

{% if props.parent is not defined %}
    #include <mvvm/ViewModel.h>
{% endif -%}

#include <mvvm/ViewModelCollection.h>

{% if props.parent is defined %}
    #include <{{props.parent_namespace | default(props.namespace) | ns_to_path}}{{props.parent}}.h>
{% endif %}
