{% macro parent(m_props)%}
    {% if m_props.parent is not defined %}
        mvvm::Model
    {% else %}
        {{m_props.parent_namespace ~ "::" if m_props.parent_namespace is defined}}{{m_props.parent}}
    {% endif %}
{% endmacro %}
